{% extends 'malwr/base.html' %}

{% load static %}

{% block content %}
<link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
<div class="hb">
<div class="about-section">
        <div class="inner-container">
            <h1>About imawa . . .</h1>
            <p class="text">
                Intelligent Malware Analyzer in Web Application.<br>
                This project more focused on the detecting malicious program and classify their types using machine learning. Build mainly in Python language with Django Framework.
            </p>
            <div class="skills">
                <span>Imagine Wagon XD</span>
            </div>
        </div>
    </div>
</div>

{% endblock %}