{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>imawa</title>
	</head>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap" rel="stylesheet">
	<link rel="icon" type="image/png" href="{% static 'image/favicon.ico' %}" sizes="32x32" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/homes.css' %}">
	<body>
		<header class="header">
			<img class="logo" src="{% static 'image/logoimawa.png' %}">
			<nav>
				<ul class="navlink">
					<li><a href="{% url 'home' %}"><strong>Home</a></li>
					<li><a href="{% url 'library' %}"><strong>Library</a></li>
					<li><a href="{% url 'about' %}"><strong>About</a></li>
				</ul>
			</nav>
		</header>
		<div>
			{% block content %}
			{% endblock %}
		</div>
		<div class="ft">
			<p>By: Imagine Wagon</p>
		</div>
	</body>
</html>