{% extends 'malwr/base.html' %}
{% load static %}
{% block content %}

<link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/homes.css' %}">
<script type="text/javascript" src="{% static 'js/home.js' %}"></script>
<div class="container">
	<div class="main_container">
		<div>
			<img class="image"  width="311" height="101" src="{% static 'image/logoimawa.png' %}">
		</div>
		<p class="about">Intelligent Malware Analyzer in Web Application</p>
	</div>
	<div class="button_container" id="button">
		<button id="search_button" class="button" onclick="fileShow()">File</button>
		<button id="file_button" class="button" onclick="searchShow()">Search</button>
	</div>
	<div class="div_container">
		<div class="search" id="search_div">
			<form action="{% url 'result' %}" method="get">
				<input size="40px" class='sb' name='q' type="text" placeholder="Search..">
			</form>
		</div>
		<div class="file" id="file_div">
			<form method="POST" enctype="multipart/form-data" class="colfx">
				{% csrf_token %}
				<input type="file" name="files">
				<button type="submit">Upload</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}